<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatClient1" />
                <binding name="BasicHttpBinding_IChatClient" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1231/ChatClient" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChatClient1" contract="ChatService.ChatClient.IChatClient"
                name="BasicHttpBinding_IChatClient1" />
            <endpoint address="http://localhost:1231/ChatClient" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChatClient" contract="ChatUserService.IChatClient"
                name="BasicHttpBinding_IChatClient" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
          <service name="ChatService.ChatService">
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1230/Chat"/>
              </baseAddresses>
            </host>
            <endpoint address="" binding="basicHttpBinding"
                      bindingConfiguration="" contract="ChatLib.IChatService" />
          </service>
          <service name="ChatService.PollingChat">
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:1230/PollingChat"/>
              </baseAddresses>
            </host>
            <endpoint address="" binding="basicHttpBinding"
                      bindingConfiguration="" contract="ChatLib.IPollingChat" />
          </service>
        </services>
    </system.serviceModel>
</configuration>