<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatService" />
                <binding name="BasicHttpBinding_IPollingChat" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1230/Chat" binding="basicHttpBinding" contract="Chat.IChatService"
                name="BasicHttpBinding_IChatService" />
            <endpoint address="http://localhost:1230/PollingChat" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPollingChat" contract="PollingChat.IPollingChat"
                name="BasicHttpBinding_IPollingChat" />
        </client>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service name="ChatClient.ChatClientImpl">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1231/ChatClient"/>
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding"
                          bindingConfiguration="" contract="ChatLib.IChatClient" />
                <endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange"/>
            </service>
        </services>
    </system.serviceModel>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                    <add name="traceListener"
                         type="System.Diagnostics.XmlWriterTraceListener"
                         initializeData= "D:\Coding\C#\WCF-SimpleChat\ChatClient\bin\Debug\Traces.svclog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>